{% include 'base.html' %}

{% block conteudo  %}
<form action="criar-vaga" method="post">
    <div class="container mt-4">
      <h1>Nova vaga </h1>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Título da vaga</label>
        <input type="name" name="titulo" class="form-control" id="exampleFormControlInput1" placeholder="Digite o título da vaga">
      </div>
  
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Empresa</label>
        <input type="name" name="empresa" class="form-control" id="exampleFormControlInput1" placeholder="Informe o nome da empresa">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Local</label>
        <input type="name" name="local" class="form-control" id="exampleFormControlInput1" placeholder="Informe o local da vaga">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Descrição da vaga</label>
        <input type="text" name="descricao" class="form-control" id="exampleFormControlInput1" placeholder="Digite a descrição da vaga">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Requisitos da vaga</label>
        <input type="text" name="requisitos" class="form-control" id="exampleFormControlInput1" placeholder="Digite os requitos da vaga">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Benefícios da vaga</label>
        <input type="text" name="beneficios" class="form-control" id="exampleFormControlInput1" placeholder="Digite os beneficios da vaga">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Categoria da vaga</label>
        <input type="name" name="categoria" class="form-control" id="exampleFormControlInput1" placeholder="Digite a categoria da vaga">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Senioridade da vaga</label>
        <input type="name" name="senioridade" class="form-control" id="exampleFormControlInput1" placeholder="Digite a senioridades da vaga">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="publicada" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Publicada
        </label>
      </div>
  
      <a href="criar-vaga"><button type="submit" class="btn btn-primary">Criar vaga</button></a>
    </div>
  </form>
  
{% endblock  %}