{% extends 'base.html' %}
{% load static%}

{% block conteudo  %}

<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá {{ user.username }}</h3>
                </div>
            </div>
        </div>
    </div>
 </div>

<h1 style="text-align: center">Vagas</h1>
<section class="best-receipe-area" style="margin-top: 3rem" >
    <div class="container">
        <div class="row" >
            {% for vaga in vagas %}
            <!-- Area de publicação das vagas -->
            <div class="col-12 col-sm-6 col-lg-4" >
                <div class="mb-30" >
                    <div class="card border-primary mb-3" >
                        <div class="card-body" style="height: 20rem" >
                            <h5 class="card-title">{{vaga.titulo}}</h5>
                            <p class="card-text">Categoria: {{vaga.categoria}} | Senioridade: {{vaga.senioridade}}</p>
                            <p class="card-text">{{vaga.local}}</p>
                            <p class="card-text">{{vaga.descricao|truncatewords:40}}</p>
                        </div>
                    </div>
                    <a href="{% url 'editar-vaga' vaga.id %}" type="button" class="btn btn-info">Editar</a>
                    <a href="{% url 'deletar-vaga' vaga.id %}" type="button" class="btn btn-danger">Deletar</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}