{% extends 'base.html' %}
{% load static%}

{% block conteudo  %}

<div class="contact-area section-padding-0" style="margin-top: 1rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá {{ user.username }}!</h3>
                </div>
            </div>
        </div>
    </div>
 </div>

<h1 style="text-align: center">Minhas vagas</h1>
<section class="best-receipe-area" style="margin-top: 3rem" >
    <div class="container">
        <div class="row" >
            {% for vaga in vagas %}
            <!-- Area de publicação das vagas -->
            <div class="col-12 col-sm-6 col-lg-4" >
                <div class="mb-30" >
                    <div class="card border-primary mb-3" >
                        <div class="card-body" style="height: 20rem" >
                            <a href="{% url 'vaga' vaga.id %}" style="text-decoration: none;"><h5 class="card-title">{{vaga.titulo}}</h5></a>
                            <span class="badge text-bg-primary" style="background-color: rgb(52, 122, 253); font-size: 12px">{{vaga.categoria}}</span>
                            <span class="badge text-bg-primary" style="background-color: rgb(52, 122, 253); font-size: 12px">{{vaga.senioridade}}</span>
                            {% if vaga.publicada %}
                            <span class="badge text-bg-success" style="background-color: rgb(0, 180, 105); font-size: 12px">Publicada</span>
                            {% else %}
                            <span class="badge text-bg-danger" style="background-color: rgb(248, 81, 39); font-size: 12px">Não publicada</span>
                            {% endif %}
                            <p class="card-text">{{vaga.local}}</p>
                            <p class="card-text">{{vaga.descricao|truncatewords:40}}</p>
                        </div>
                    </div>
                    <a href="{% url 'editar-vaga' vaga.id %}" type="button" class="btn btn-primary">Editar vaga</a>
                    <a href="{% url 'deletar-vaga' vaga.id %}" type="button" class="btn btn-danger">Deletar vaga</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}