{% extends 'base.html' %}
{% load static%}

{% block conteudo  %}
{% include 'partials/_alertas.html' %}

    <h1 style="text-align: center">Vagas</h1>
    <section class="best-receipe-area" style="margin-top: 3rem" >
        <div class="container">
            <div class="row" >
                {% for vaga in vagas %}
                <!-- Area de publicação das vagas -->
                <div class="col-12 col-sm-6 col-lg-4" >
                    <div class="mb-30" >
                        <div class="card border-primary mb-3" style="border-width: 2px ;" >
                            <div class="card-body" style="height: 20rem;"  >
                                <a href="{% url 'vaga' vaga.id %}"><h5 class="card-title">{{vaga.titulo}}</h5></a>
                                <span class="badge text-bg-primary" style="background-color: rgb(52, 122, 253); font-size: 12px">{{vaga.categoria}}</span>
                                <span class="badge text-bg-primary" style="background-color: rgb(52, 122, 253); font-size: 12px">{{vaga.senioridade}}</span>
                                <p class="card-text">Local: {{vaga.local}}</p>
                                <p class="card-text">{{vaga.descricao|truncatewords:40}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

{% endblock conteudo  %}